
.favoritePage {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.emptyFavourite {
    display: flex;
    flex-direction: column;
    gap: 25px;

    a {
        width: 484px;
        height: 58px;
        color: var(--txt-white, #fff);
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 130%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--radius-small, 6px);
        background: var(--green, #92a134);
    }
    
    p {
        color: #424436;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 130%;
    }
}