

.cartContainer {
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: #ccc transparent;
}



.cartContainer::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Цвет полосы */
    border-radius: 4px; /* Скругление */
}


