

.cartContainer {
    scrollbar-width: thin; /* for Firefox */
    scrollbar-color: #ccc transparent;
}

.cartContainer::-webkit-scrollbar-thumb {
    background-color: #cccccc; 
    border-radius: 4px; 
}


