
.cart {
    width: 780px;
    height: 180px;
    display: flex;
    gap: 32px;
    position: relative;
    background: #FFFFFF;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--radius-big, 12px);
    img {
        width: 200px;
        height: 180px;
    }

    h4 {
        font-weight: 500;
        font-size: 20px;
    }

    .button_close {
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__counter {
            display: flex;
            button {
                cursor: pointer;
                width: 58px;
                height: 58px;
                border-radius: var(--radius-small, 10px);
                border: 1px solid var(--grey-divider, #ddd);
                background: #ffffff92;
                transition: transform 0.3s ease, color 0.3s ease;
                font-size: 24px;
                &:hover {
                    transform: scale(1.2);
                }

                &:active {
                    transform: scale(1.1);
                }
            }

            .number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 96px; 
                height: 58px;
                border: 1px solid var(--grey-divider, #ddd);
                p {
                    margin: 0;
                    color: #424436;
                    font-weight: 600;
                    font-size: 20px;
                }
            }

            .price_container {
                margin: 15px 0 0 40px;

                p:first-child {

                    width: 51px;
                    height: 26px;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 26px;
                    color: black;
                }

            }
        }


    }
}

